<h2>Your chosen Actor</h2>
{{#with celebDetails}}
Name: {{name}}
Occupation: {{occupation}}
Phrase: {{catchPhrase}}
<a href="">Edit this Actor</a>
<a href="/celebrities/delete/{{_id}}">Delet this Actor</a>
{{/with}}